<%- include("partials/header") %>

    <div class="hero-container">
        <h2 class="hero-title">Time to keep track.</h2>
        <p class="hero-caption">Focus on the task at hand.</p>
        <a class="cta" href="/signup">Sign Up to Start</a>
    </div>

<%- include("partials/footer") %>